<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Stray Dog Management</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a> | <a href="/upload">Report/Upload</a> |
      <a href="/adopt">Adopt</a>
    </nav>
    <div class="container">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
